
#container{
    
    display: flex;
    height: 300px;
    width: 1050px;
    background-color: antiquewhite;
  padding: 15%;
}
.section1{
    margin-right: 5%;
    float: right;
}
.section2{
    float: left;
}
.section3{
float: left;
}

